# Node.js dependencies
node_modules/

# npm package lock file
package-lock.json

# IDE or editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables file
.env

# Build files
/build/
.DS_Store

# Compiled output (if applicable)
/dist/
